<h1>Names page</h1>

<div>
<form action="/names/submit-name" method="post">
    <label for="name">Your name:</label>
    <input type="text" id="name" name="name" placeholder="Enter your name here" required>
    <button type="submit">Enter</button>
</form>
</div>